<div class="sidebar-flex">
  <h1 class="title">Paises</h1>

  <nav class="navigation">
    <div class="nav-group">
<!--
      <div
        class="list-item"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home Page
      </div>

      <div
        class="list-item"
        routerLink="about"
        routerLinkActive="active"
      >
        About Page
      </div>

      <div
        class="list-item"
        routerLink="contact"
        routerLinkActive="active"
      >
        Contact Page
      </div> -->

      <div
        class="list-item"
        routerLink="countries/by-capital"
        routerLinkActive="active"
      >
        Por Capital
      </div>

      <div
        class="list-item"
        routerLink="countries/by-country"
        routerLinkActive="active"
      >
        Por País
      </div>

      <div
        class="list-item"
        routerLink="countries/by-region"
        routerLinkActive="active"
      >
        Por Región
      </div>

    </div>
  </nav>
</div>

